.body {
    margin: 0px!important;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main_window {
    display: flex;
    height: 100vh;
}

.center_window {
    height: 100%;
    width: 100%;
}

.left_menu {
    width: 20%;
    height: 100%
}

.head {
    margin-left: 15px;
    height: 70px;
    display: flex;
    align-content: center;
}

