{% extends 'shablone.html' %}

{% block title %}{{name_title}}{% endblock %}

{% block css_file %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_info.css') }}">
{% endblock %}

{% block main_content %}
    <div class="quote_text">
        <p>
            "Чем дальше я иду, тем больше крепнет
        </p>
        <p>
            моя уверенность..." - Жюль Верн
        </p>
    </div>
    <br>
    <br>
    <div class="info_text_main_window">
        <h2>Добро пожаловать на сайт учителя географии!</h2>
        <p class="main_text">Мне очень приятно видеть Вас на этой странице.</p>
        <div class="flud_text">
            <p>
                Меня зовут <b>Волкова Лариса Викторовна</b>.
            </p>
            <p>
                Работаю в МОУ "СОШ № 5" города Воскресенска Московской области.
            </p>
            <p>
                Мама троих детей. Люблю писать стихи, заниматься рукоделием,
            </p>
            <p>
                увлекаюсь разведением аквариумных рыбок,
            </p>
            <p>
                рыбалку, люблю своим детям устраивать тематические Дни Рождения и
            </p>
            <p>
                вообще люблю любую творческую работу.
            </p>
        </div>
    </div>
{% endblock %}
