<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_authorization.css') }}">
    <title>Авторизация</title>
</head>
<body>
    <div class="window_authorization">
        <input class="height_pluse" type="text" id="name">
        <input class="height_pluse" type="password" id="password">
        <button class="bt_authorization" type="button">Войти</button>
    </div>
</body>
</html>